TensorFlow-2.0/addons/
TensorFlow-2.0/workspace/training/images/
TensorFlow-2.0/workspace/training/images/image-annotated/
TensorFlow-2.0/workspace/training/images/image-annotated/temp/
TensorFlow-2.0/workspace/training/pre-trained-model/ssd_mobilenet_v1_fpn_640x640_coco17_tpu-8/
TensorFlow-2.0/workspace/training/pre-trained-model/ssd_mobilenet_v2_320x320_coco17_tpu-8/
TensorFlow-2.0/workspace/training/pre-trained-model/ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8/
TensorFlow-2.0/workspace/training/models/ssd_mobilenet_v1_fpn_640x640/
TensorFlow-2.0/workspace/training/models/ssd_mobilenet_v2_320x320/
TensorFlow-2.0/workspace/training/models/ssd_mobilenet_v2_fpnlite_640x640/
TensorFlow-2.0/workspace/training/exported-models/ptag-detector-model/ssd_mobilenet_v1_fpn_640x640/
TensorFlow-2.0/workspace/training/exported-models/ptag-detector-model/ssd_mobilenet_v2_320x320/
TensorFlow-2.0/workspace/training/exported-models/ptag-detector-model/ssd_mobilenet_v2_fpnlite_640x640/
TensorFlow-2.0/workspace/training/quant-images/
